$blue-dark: #014f8e;
$blue-light: #69ade4;
$cyan: #06959f;
$cyan-light: #37b0b9;

$gray-light: #696969;
$gray-normal: #222;
$white: #fff;
$black: #000;

$pad: 40px;
$transition: 200ms ease;

$font_sans_serif: "Ubuntu", Arial, Helvetica, sans-serif;
$font_serif: Georgia, 'Times New Roman', Times, serif;

html, body{
    scroll-behavior: smooth;
}
a{
    color: $white;
    text-decoration: none;
}
h1{
    margin: 10px 0 0 0;
    padding: 0 10px;
    color: $white;
    font-size: 40px;
}
h2{
    margin: 5px 0;
    color: $white;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: $font_serif;
    line-height: 1.7;
}
h3{
    color: #000;
    font-size: 2rem;
    text-transform: uppercase;
}
button{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition;
}

section{
    width: 100%;
    display: flex;

    &:target{
        scroll-margin-top: 95px;
    }
}