$purple0: #100A23;
$purple1: #191130;
$purple2: #22183F;
$purple3: #35275B;
$purple4: #41326C;
$purple5: #5F4E92;
$purple6: #705DA4;
$purple7: #B3A3E1;
$purple8: #C8B9F2;
$purple9: #DFD4FF;

$pink0: #A3026D;
$pink1: #C30182;
$pink2: #F000A0;
$pink3: #FF2EB9;
$pink4: #F174C7;
$pink5: #F0A4D7;
$pink6: #F4CAE6;

$white: #fff;
$black: #000;
$gray: rgb(12, 10, 21);

$pad: 40px;
$transition: 200ms ease;

$font_sans_serif: Arial, Helvetica, sans-serif;

html, body{
    scroll-behavior: smooth;
}
a{
    color: $white;
    text-decoration: none;
}
h3{
    color: $black;
    font-size: 2rem;
    text-transform: uppercase;
}
h4{
    margin: 0 0 20px 0;
    color: $white;
    font-size: 2rem;
}
button{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transition;
}

section{
    width: 100%;
    display: flex;

    &:target{
        scroll-margin-top: 95px;
    }
}