@media screen and (min-width: 1900px){
    #view{
        max-width: unset !important;
        width: 100%;
    }
}
@media screen and (max-width: 1421px){
    #view{
        justify-content: center !important;
    }
}

@media screen and (max-width: 880px) {
    section {
        &.sec1 {
            margin: 70px 0 0 0;
        }

        &:target {
            scroll-margin-top: 58px;
        }
    }

    header div.hd_socials {
        display: none;
    }

    nav span {
        width: 50%;
        height: 100%;
        max-width: 500px;
        min-width: 200px;
        position: fixed;
        top: 70px;
        right: -100%;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        box-shadow: #00000040 0px 14px 28px, #00000038 0px 10px 10px;
        transition: $transition;

        a {
            color: #000;
            margin: calc(5vw + 10px) 0 0 0;
        }
    }

    div#burguer {
        display: flex !important;
        cursor: pointer;

        div.line {
            transition: 200ms ease;
        }

        &.active {
            div.line:nth-child(1) {
                transform: rotate(45deg) translate(5px, 10px);
            }

            div.line:nth-child(2) {
                opacity: 0;
            }

            div.line:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -11px);
            }
        }
    }

    section.sec2 {
        div.line {
            margin: 5px 0;
        }

        div.cont #view div.projeto {
            width: 70vw;

            a div.img-proj {
                width: 100%;
                height: inherit;
                min-height: 230px;
                background-position: top left;
            }
        }
    }

    section.sec3 div.cont {
        flex-direction: column-reverse;
        align-items: center;

        div.informations {
            max-width: inherit;
            margin: 50px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            strong {
                border-bottom: 2px solid $black;
            }

            div.content_info {
                display: flex;
                flex-direction: column;
                align-items: center;

                ul {
                    margin: 0 0 40px 0;
                    text-align: center;

                    &::before {
                        content: "";
                        margin: 0;
                    }
                }
            }

            & div:nth-last-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        div.img {
            height: 300px;
            max-width: 300px;
            margin: 20px 0 0 0;
        }
    }

    section.sec4 {
        justify-content: center;
        background-position: top;

        div.cont {
            margin: 0 0 0 0;

            h4 {
                text-align: center;
            }

            div.bg_contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
                text-align: center;

                a {
                    flex-direction: column;
                    align-items: inherit;
                    justify-content: center;

                    img {
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }

    div.main_ft {
        flex-direction: column;

        div.txt_ft {
            margin: 0 0 20px 0;
            text-align: center;

            h4 {
                max-width: none;
            }
        }
    }
}