a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0 10px;
  color: #fff;
  font-size: 40px;
}

h2 {
  margin: 0 0 5px 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 860px) {
  section.sec1 {
    margin: 70px 0 0 0;
  }
  div.hd_socials {
    display: none;
  }
  nav span {
    position: fixed;
    top: 70px;
    right: -100%;
    z-index: 99;
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  nav span a {
    color: #000;
    margin: calc(5vw + 10px) 0 0 0;
  }
  div#burguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  div#burguer div.line {
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  div#burguer.active div.line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 10px);
            transform: rotate(45deg) translate(5px, 10px);
  }
  div#burguer.active div.line:nth-child(2) {
    opacity: 0;
  }
  div#burguer.active div.line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -11px);
            transform: rotate(-45deg) translate(5px, -11px);
  }
  section.sec3 div.cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.sec3 div.cont div.informations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.sec3 div.cont div.informations p {
    text-align: center;
  }
  section.sec3 div.cont div.img {
    margin: 20px 0 0 0;
  }
  section.sec4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: top;
  }
  section.sec4 div.cont {
    margin: 0 0 0 0;
  }
  section.sec4 div.cont h4 {
    text-align: center;
  }
  section.sec4 div.cont div.bg_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    text-align: center;
  }
  div.main_ft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.main_ft div.txt_ft {
    margin: 0 0 20px 0;
    text-align: center;
  }
  div.main_ft div.txt_ft h4 {
    max-width: none;
  }
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#root {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  max-width: 1600px;
  height: 98px;
}

header div.hd_socials {
  padding: 5px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #222;
}

header div.hd_socials img {
  margin: 0 10px;
  width: 30px;
}

nav {
  padding: 15px 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

nav strong {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

nav span a {
  margin: 0 calc(1vw + 10px);
  font-size: 1.25rem;
  font-weight: 300;
}

nav span a:hover {
  font-weight: 400;
}

nav div#burguer {
  width: 60px;
  height: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav div#burguer div.line {
  margin: 3px 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}

section.sec1 {
  margin: 98px 0 0 0;
  min-height: 300px;
  background-image: url(../src/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.sec1 .color-sec1 {
  padding: 110px 0 20px 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #07595f45;
}

section.sec1 #main_content {
  border-radius: 20px;
  padding: 10px 20px;
  width: 90vw;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-align: center;
}

section.sec1 #main_content img {
  margin: -100px 0 0 0;
  border: 10px solid #18878F;
  border-radius: 100%;
  width: 230px;
}

section.sec1 #main_content span.line {
  margin: 10px 0;
  width: 90%;
  height: 3px;
  background-color: #fff;
}

section.sec2 {
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sec2 div.cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.sec2 div.cont div.controls {
  margin: 20px 0 0 0;
  padding: 0 0 0 clamp(20px, 10vw, 200px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sec2 div.cont div.controls span {
  font-size: 1.5rem;
}

section.sec2 div.cont div.controls .control {
  margin: 0 20px;
  border: 2px solid #696969;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

section.sec2 div.cont div.controls .control.active {
  background-color: #55dae47b;
}

section.sec2 div.cont div.controls .control p {
  cursor: pointer;
}

section.sec2 div.cont div.controls .control input[type=radio] {
  cursor: pointer;
}

section.sec2 div.cont #view {
  margin: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.sec2 div.cont #view div.projeto {
  margin: 20px 0;
  padding: 20px;
  width: 350px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

section.sec2 div.cont #view div.projeto:hover {
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

section.sec2 div.cont #view div.projeto a div.img-proj {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  width: 350px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.icon_tec img,
section.sec2 div.cont #view div.projeto div.txt-proj div.view_in button img {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 50px;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.line {
  margin: 4px 0;
  width: 100%;
  height: 3px;
  background-color: #18878F;
}

section.sec2 div.cont #view div.projeto div.txt-proj strong {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #222;
}

section.sec2 div.cont #view div.projeto div.txt-proj p {
  margin: 20px 0;
  font-size: 1.1rem;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.view_in {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.view_in a button {
  margin: 0 10px;
  padding: 7px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #fff;
  background-color: #014f8e;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.view_in a button:hover {
  background-color: #69ade4;
}

section.sec2 div.cont #view div.projeto div.txt-proj div.view_in a button img {
  margin: 0 0 0 10px;
}

section.sec3 {
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sec3 div.line {
  margin: 5px 0 30px 0;
  width: calc(20% + 50px);
  height: 3px;
  background-color: #000;
}

section.sec3 div.cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.sec3 div.cont div.informations {
  max-width: 550px;
}

section.sec3 div.cont div.informations p {
  margin: 0 0 30px 0;
  font-size: 22px;
}

section.sec3 div.cont div.informations div.techs {
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.sec3 div.cont div.informations div.techs img {
  width: 60px;
  margin: 0 7px;
}

section.sec3 div.cont div.informations div.techs img:nth-of-type(n + 3) {
  width: 70px;
  height: 70px;
}

section.sec3 div.cont div.img {
  margin: 0 0 0 60px;
  border-radius: 50px;
  min-width: 100px;
  max-width: 280px;
  width: 100%;
  height: 330px;
  background-image: url(../src/antonio2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button.btn_download {
  padding: 15px 50px;
  font-size: 1.25rem;
  color: #fff;
  background-color: #18878F;
}

button.btn_download.btn_download:hover {
  background-color: #37b0b9;
}

section.sec4 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px 40px;
  background-image: url(../src/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section.sec4 div.cont {
  margin: 0 40px 0 0;
  width: 100vw;
  max-width: 600px;
}

section.sec4 div.cont h4 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 2rem;
}

section.sec4 div.cont div.bg_contact {
  padding: 20px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  gap: 20px;
  background-color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

section.sec4 div.cont div.bg_contact img {
  width: 60px;
}

section.sec4 div.cont div.bg_contact span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding: 30px calc(10vw - 20px);
  width: 100%;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.main_ft {
  border-bottom: 3px solid #fff;
  padding: 0 30px 20px 30px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.main_ft div.txt_ft h4 {
  max-width: 350px;
  color: #fff;
  font-size: 32px;
}

footer div.main_ft div.txt_ft span {
  color: #fff;
  font-size: 18px;
}

footer div.main_ft div.txt_ft div.btns_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer > div:nth-child(2) {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > div:nth-child(2) img {
  margin: 0 10px;
}

button.btn_download-2 {
  margin: 3px 0;
  padding: 13px 23px;
  font-size: 18px;
  color: #fff;
  background-color: #18878F;
}

button.btn_download-2:hover {
  background-color: #37b0b9;
}

button.btn_orcamento {
  margin: 3px 0;
  border: 3px solid #18878F;
  padding: 10px 20px;
  font-size: 1.25rem;
  color: #18878F;
  background-color: #fff;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

button.btn_orcamento:hover {
  border: 3px solid #fff;
  color: #fff;
  background-color: #18878F;
}
/*# sourceMappingURL=index.css.map */