@charset "UTF-8";
:root {
  font-size: 16px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

h3 {
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 2rem;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 200ms ease;
}

section {
  width: 100%;
  display: flex;
}
section:target {
  scroll-margin-top: 60px;
}
section div.line {
  width: calc(20% + 50px);
  height: 3px;
  margin: 5px 0 0 0;
  background-color: #000;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}

header {
  width: 100%;
  height: 60px;
  max-width: 1600px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #100A23;
}

nav {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: initial;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
nav strong {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
nav span a {
  margin: 0 calc(1vw + 10px);
  font-size: 1.25rem;
  font-weight: 300;
}
nav span a:hover {
  font-weight: 400;
}
nav div#burguer {
  width: 60px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
}
nav div#burguer div.line {
  margin: 3px 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}

section.home {
  height: 100vh;
  max-height: 500px;
  min-height: 200px;
  margin: 60px 0 0 0;
  padding: 0 80px;
  flex-direction: column;
  justify-content: center;
  background-image: url(../src/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100vw;
  max-width: 600px;
}

h1 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.8117647059);
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7;
}

.technologies_home {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0 10vw 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 20px;
}
.technologies_home .technology_home {
  margin: 0 40px 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 0px;
}
.technologies_home .technology_home img {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.technologies_home .technology_home span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.github_infos_home {
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: clamp(40px, 10vw, 200px);
       column-gap: clamp(40px, 10vw, 200px);
  row-gap: 0px;
}
.github_infos_home div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 10px;
}
.github_infos_home div strong {
  color: #fff;
  font-size: 2rem;
}
.github_infos_home div p {
  color: rgba(255, 255, 255, 0.768627451);
  font-size: 1.2rem;
}
.github_infos_home div img {
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.github_infos_home div a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  font-size: 1.3rem;
}
.github_infos_home div a span {
  margin: -7px 0 0 10px;
  font-size: 2em;
}

section.projects {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont {
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont #view {
  margin: 0 0 11px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: center;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont #view div.projeto {
  width: 50vw;
  max-width: 330px;
  margin: 20px 1vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.1607843137) 0px 1px 4px;
  transition: 200ms ease;
}
section.projects div.cont #view div.projeto a div.img-proj {
  width: 330px;
  height: 200px;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
section.projects div.cont #view div.projeto div.txt-proj {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont #view div.projeto div.txt-proj div.icon_tec {
  width: 100%;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont #view div.projeto div.txt-proj div.icon_tec img {
  margin: 0 5px;
}
section.projects div.cont #view div.projeto div.txt-proj div.icon_tec img,
section.projects div.cont #view div.projeto div.txt-proj div.view_in button img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.projects div.cont #view div.projeto div.txt-proj div.line {
  width: 100%;
  height: 3px;
  margin: 10px 0;
}
section.projects div.cont #view div.projeto div.txt-proj strong {
  font-size: 1.2rem;
}
section.projects div.cont #view div.projeto div.txt-proj p {
  margin: 10px 0 20px 0;
  font-size: 1rem;
  line-height: 1.3;
}
section.projects div.cont #view div.projeto div.txt-proj div.view_in {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.projects div.cont #view div.projeto div.txt-proj div.view_in a {
  align-self: flex-end;
}
section.projects div.cont #view div.projeto div.txt-proj div.view_in a button {
  margin: 0 20px 0 0;
  padding: 7px 20px;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #41326C;
}
section.projects div.cont #view div.projeto div.txt-proj div.view_in a button:hover {
  background-color: #705DA4;
}
section.projects div.cont #view div.projeto div.txt-proj div.view_in a button img {
  margin: 0 0 0 10px;
}

button.btn_download {
  padding: 15px 50px;
  font-size: 1.25rem;
}

section.contact {
  padding: 40px 40px;
  justify-content: flex-end;
  background-image: url(../src/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.contact div.cont {
  width: 100vw;
  max-width: 600px;
  margin: 0 40px 0 0;
}
section.contact div.cont div.bg_contact {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  background-color: #fff;
  box-sizing: content-box;
}
section.contact div.cont div.bg_contact img {
  width: 60px;
}
section.contact div.cont div.bg_contact a {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  color: #100A23;
}
section.contact div.cont div.bg_contact a img {
  margin: 0 20px 0 0;
}
section.contact div.cont div.bg_contact a span {
  width: 90%;
  min-width: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
section.contact div.cont div.bg_contact a span::after {
  content: "→";
  font-size: 2rem;
}

footer {
  width: 100%;
  border-top: 5px solid #A3026D;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: center;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
  background-color: rgb(12, 10, 21);
}
footer div.main_ft {
  width: 100%;
  border-bottom: 3px solid #fff;
  padding: 0 30px 20px 30px;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
footer div.main_ft div.txt_ft h4 {
  max-width: 350px;
  color: #fff;
  font-size: 32px;
}
footer div.main_ft div.txt_ft span {
  color: #fff;
  font-size: 18px;
}
footer div.main_ft div.txt_ft div.btns_cont {
  display: flex;
  flex-direction: column;
  flex-wrap: initial;
  align-items: initial;
  justify-content: initial;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
footer > div:nth-child(2) {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: initial;
  flex-wrap: initial;
  align-items: initial;
  justify-content: center;
  -moz-column-gap: 0px;
       column-gap: 0px;
  row-gap: 0px;
}
footer > div:nth-child(2) img {
  margin: 0 10px;
}

button.btn_download-2 {
  margin: 3px 0;
  padding: 13px 23px;
  font-size: 18px;
}

button.btn_orcamento {
  margin: 3px 0;
  padding: 10px 20px;
  font-size: 1.25rem;
  transition: 200ms ease;
}

@media screen and (max-width: 880px) {
  header div.hd_socials {
    display: none;
  }
  nav span {
    width: 50%;
    height: 100%;
    max-width: 500px;
    min-width: 200px;
    position: fixed;
    top: 60px;
    right: -100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    align-items: center;
    justify-content: initial;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2509803922) 0px 14px 28px, rgba(0, 0, 0, 0.2196078431) 0px 10px 10px;
    transition: 200ms ease;
  }
  nav span a {
    color: #000;
    margin: calc(5vw + 10px) 0 0 0;
  }
  div#burguer {
    display: flex !important;
    cursor: pointer;
  }
  div#burguer div.line {
    transition: 200ms ease;
  }
  div#burguer.active div.line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 10px);
  }
  div#burguer.active div.line:nth-child(2) {
    opacity: 0;
  }
  div#burguer.active div.line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -11px);
  }
  section.home {
    height: auto;
    max-height: none;
    padding: 40px 40px;
    align-items: center;
  }
  section.home main {
    width: 100%;
    max-width: none;
  }
  .technologies_home {
    max-width: 100%;
    margin: 20px 0 0 0;
    padding: 20px 0;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
  }
  .technologies_home .technology_home {
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    align-items: center;
    justify-content: initial;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 10px;
  }
  .technologies_home .technology_home img {
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .technologies_home .technology_home span {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .github_infos_home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
    justify-content: initial;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 40px;
  }
  .github_infos_home .github_link {
    width: 100%;
    align-items: center;
  }
  .github_infos_home .github_info {
    display: none;
  }
  section.projects div.line {
    margin: 5px 0;
  }
  section.projects div.cont #view div.projeto {
    width: 70vw;
  }
  section.projects div.cont #view div.projeto a div.img-proj {
    width: 100%;
    height: inherit;
    min-height: 200px;
    background-position: top center;
  }
  section.contact {
    justify-content: center;
    background-position: top;
  }
  section.contact div.cont {
    margin: 0 0 0 0;
  }
  section.contact div.cont h4 {
    text-align: center;
  }
  section.contact div.cont div.bg_contact {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    align-items: center;
    justify-content: initial;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 20px;
    text-align: center;
  }
  section.contact div.cont div.bg_contact a {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    align-items: inherit;
    justify-content: center;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 0px;
  }
  section.contact div.cont div.bg_contact a ¡ img {
    margin: 0 0 10px 0;
  }
  section.contact div.cont div.bg_contact a span {
    justify-content: center;
  }
  section.contact div.cont div.bg_contact a span::after {
    display: none;
  }
  div.main_ft {
    flex-direction: column !important;
  }
  div.main_ft div.txt_ft {
    margin: 0 0 20px 0;
    text-align: center;
  }
  div.main_ft div.txt_ft h4 {
    max-width: none;
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */